#root {
  max-width: none;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Inter;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 720;
  height: 111;
  opacity: 1;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);


}

header>img {
  height: 50px;
  margin-right: 7px;
}

header>span {
  font-family: Inter;
  font-weight: 5;
  width: 172;
  height: 60;
  opacity: 1;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: -5%;
  color: #141413;
  margin: 0;
}